.rain {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.drop {
  position: absolute;
  top: -5%;
  width: 1px;
  height: 50px;
  background: linear-gradient(to bottom, rgba(188, 187, 187, 0.922))transparent;
  border : round;
  transform: rotate(210deg);
  animation-name: fall-diagonal;
  animation-timing-function: ease-out; /* ⬅️ Fast to slow */
  animation-fill-mode: forwards;
  opacity: 0.3;
}
.stem {
  width: 300%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0.5), transparent);
  border-radius: 500px; /* 👈 Smooth rounded end */
  animation-name: fall-diagonal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}


@keyframes fall-diagonal {
  0% {
    transform: translate(0, 0) rotate(210deg);
    opacity: 0.3;
  }
  100% {
    transform: translate(-100px, 120vh) rotate(210deg);
    opacity: 0;
  }
}
